.home {




    .slider {
        overflow: hidden;
        margin-bottom: 120px;

        .swiper-pagination {
            max-width: 1270px;
            width: 100%;
            text-align: start;
            left: 0 !important;
            right: 0;
            margin: auto;
            bottom: 40px !important;

            .swiper-pagination-bullet {
                transition: all ease 0.5s;
                width: 99px;
                height: 4px;
                background: #8F8F8F;
                border-radius: 0;
                opacity: 1;
            }

            .swiper-pagination-bullet-active {
                transition: all ease 0.5s;
                background: #FFFFFF;
            }
        }

        .swiper-slide {

            width: 100%;
            height: 70vh;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;

            &::before {
                content: "";
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                margin: auto;
                width: 100%;
                height: 100%;
                background: linear-gradient(90deg, #202124 1.14%, rgba(32, 33, 36, 0.94) 21.93%, rgba(32, 33, 36, 0) 100%);
                background-position: center;
                z-index: -1;
            }

            .container {
                position: relative;
                height: 100%;

                .banner_info {
                    display: table;
                    position: absolute;
                    left: 0;
                    bottom: 0%;
                    top: 25%;
                    margin: auto;

                    h1 {
                        font-style: normal;
                        font-weight: 600;
                        font-size: 40px;
                        line-height: 48px;
                        margin-bottom: 8px;


                        color: #FFFFFF;
                    }

                    p {
                        font-style: normal;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 24px;
                        max-width: 60%;


                        color: #CCCCCC;
                    }
                }
            }
        }
    }

    .advantages {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 90px;
        margin-bottom: 120px;

        .advantages_left {

            .advantages_left_info {

                display: grid;
                grid-template-columns: repeat(2, 1fr);
                flex-wrap: wrap;
                gap: 48px 88px;

                .advantages_left_block {
                    h2 {
                        font-style: normal;
                        font-weight: 700;
                        font-size: 24px;
                        line-height: 32px;
                        padding-bottom: 4px;
                        border-bottom: 2px solid #E01E1F;
                        max-width: 91px;
                        margin-bottom: 16px;
                        color: #E01E1F;

                    }

                    span {
                        display: table;
                        font-style: normal;
                        font-weight: 600;
                        font-size: 18px;
                        line-height: 24px;
                        margin-bottom: 16px;

                        color: #2B2B2B;

                    }

                    p {
                        font-style: normal;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 24px;
                        /* or 150% */


                        color: #545454;

                    }
                }
            }
        }

        .advantages_right {
            max-width: 565px;
            width: 100%;

            img {
                object-fit: cover;
                width: 100%;
            }
        }
    }

    .product_block {
        margin-bottom: 120px;

        .product_small_block {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 16px;
        }

        .product_info_block {
            .product_img_block {
                padding: 82px 66px;
                background: #F5F4FA;
                margin-bottom: 12px;
                cursor: pointer;

                &:hover {
                    img {
                        transition: all 0.4s ease;
                        transform: scale(1.06);
                    }
                }
            }

            img {
                transition: all 0.4s ease;
                margin-bottom: 12px;
                width: 100%;
                object-fit: cover;
                height: 200px;
                border-radius: 16px;
                overflow: hidden;
            }

            .product_name {
                display: flex;
                justify-content: space-between;
                align-items: center;

                span {
                    font-style: normal;
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 24px;
                    /* identical to box height, or 133% */


                    color: #2B2B2B;
                }
            }
        }
    }






}

@media (max-width:500px) {
    .home {
        


        .slider {
            margin-bottom: 32px;

            .swiper-slide {
                height: 220px;

                .container {
                    .banner_info {
                        top: 32px;
                        margin: 0;
                        padding-left: 15px;
                        padding-right: 15px;

                        h1 {
                            font-size: 18px;
                            line-height: 24px;
                            text-align: center;
                        }

                        p {
                            font-size: 14px;
                            line-height: 16px;
                            text-align: center;
                            max-width: 100%;

                            margin-left: auto;
                            margin-right: auto;
                        }
                    }
                }
            }

            .swiper-pagination {
                padding-left: 15px;
                padding-right: 15px;
                max-width: 100%;
                bottom: 12px !important;

                .swiper-pagination-bullet {
                    width: 40px;
                    height: 1px;
                }
            }
        }

        .advantages {
            display: block;
            margin-bottom: 32px;

            .advantages_left {
                .advantages_left_info {
                    display: block;

                    .advantages_left_block {
                        margin-bottom: 16px;
                        h2 {
                            text-align: center;
                            margin-left: auto;
                            margin-right: auto;
                            max-width: 91px;
                            font-size: 16px;
                            line-height: 24px;
                        }

                        span {
                            margin-left: auto;
                            margin-right: auto;
                            font-size: 16px;
                            line-height: 24px;
                            margin-bottom: 4px;
                        }

                        p {
                            font-size: 14px;
                            line-height: 16px;
                            text-align: center;
                        }
                    }
                }
            }
        }
        .product_block{
            margin-bottom: 32px;
            .product_small_block{
                grid-template-columns: repeat(2, 1fr);
            }
            .product_info_block{
                .product_img_block {
                    padding: 44px 11px;
                    margin-bottom: 4px;
                    img{
                        height: 92px;
                        margin-bottom: 0;
                    }
                    .product_name{
                        span{
                            font-size: 16px;
                            line-height: 24px;
                        }
                    } 
                }
            } 
        } 

    }
}